* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.body {
    background-color: rgb(183, 99, 4);
    display: flex; /*membuat semua elemen HTML di dalam elemen HTML yang dituju menjadi fleksibel */
    border-radius: 20px; /*membuat tepi background agak bundar*/
    width: 40%; /*memberi nilai untuk ukuran elemen HTML sebesar 40%*/
    margin: auto; /*membuat elemen HTML di tengah" halaman web*/
    margin-top: 100px; /*memberi jarak ke atas*/
    padding: 40px; /*memberi jarak di dalam*/
}

.card {
    display: flex; /*membuat semua elemen HTML di dalam elemen HTML yang dituju menjadi fleksibel */
    flex-direction: column; /*membuat susunan elemen HTML yang dituju menjadi kolom atau dari atas ke bawah*/
    align-items: center; /* Memusatkan secara vertikal */
    justify-content: center; /* Memusatkan secara horizontal */
    margin: auto; /*membuat elemen HTML di tengah" halaman web*/
    padding: 20px;/*memberi nilai untuk jarak di dalam elemen HTML yang dituju sebesar 20px*/
    width: 100%; /*memberi nilai untuk lebar elemen HTML yang dituju sebesar 180px */
    background-color: #f7efe4;
    margin-left: -5px; /*mengurangi nilai untuk jarak di kiri dari elemen HTML yang dituju sebesar 5px*/
    font-size: 20px; 
    border-radius: 30px;
    min-height: 150px;
}

.fotoDiri {
    display: flex;
    height: 170px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 60px;  
}

.nama {
    margin-left: 22px;
}

.garis {
    border: 1px black solid;
    margin-top: 20px;
    width: 60px;
    margin-left: 45px;
}

.footer {
    margin-top: 25px;
    background-color: darksalmon;
    margin-bottom: -18px;
    border-radius: 5px;
    margin-bottom: 0.4px;
    min-width: 100px;
}

.logo > a > img {
    width: 15px;
    padding: 5px;
    margin: 2px;
    padding-bottom: 1px;
}

.isi {
    min-width: 450px;
}

.judul {
    background-color: #f7efe4;
    border-radius: 5px;
    margin-right: 17px;
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
}

h1 {
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-right: -15px;
}

.hobi {
    background-color: #f7efe4;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

.hobi > h3 {
    padding-left: 5px;
}

.list > ul > li {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
    padding-right: -20px;
}

.kelebihan {
    background-color: #f7efe4;
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
}

.kelebihan > h3 {
    padding-left: 5px;
}